.Code {
  position: relative;
  padding: 20px;
  border: 1px solid var(--primary-color);
  background: var(--code-bg);
  overflow: auto;
}

.copyBtn {
  position: absolute;
  top: 20px;
  right: 20px;
}

.copyIcon path {
  stroke: var(--primary-color);
}
