.app_dark_theme {
  --bg-color: #525256;
  --inverted-bg-color: #e8e8ea;
  --primary-color: #ff0468;
  --secondary-color: #b50449;
  --inverted-primary-color: #2e2c2c;
  --inverted-secondary-color: #151515;
}
