.app_dark_theme {
  --bg-color: #4c4e8d;
  --inverted-bg-color: #f3f3fa;
  --primary-color: #00103b;
  --secondary-color: #e5e5f5;
  --inverted-primary-color: #2e2c2c;
  --inverted-secondary-color: #37386f;
}
