.app_dark_theme {
  --bg-color: #4c4e8d;
  --inverted-bg-color: #f3f3fa;
  --primary-color: #00103b;
  --secondary-color: #e5e5f5;
  --inverted-primary-color: #2e2c2c;
  --inverted-secondary-color: #37386f;

  // skeleton
  --skeleton-color: #2e2f5d;
  --skeleton-shadow: #3e3f7d;

  // code
  --code-bg: #6669bc;
}
