.app_purple_theme {
  --bg-color: #F5F0F3;
  --inverted-bg-color: #6C4A78;
  --primary-color: #39103c;
  --secondary-color: #a18dbe;
  --inverted-primary-color: #F6EFF3;
  --inverted-secondary-color: #ffffff;
}