.app_purple_theme {
  --bg-color: #f5f0f3;
  --inverted-bg-color: #6c4a78;
  --primary-color: #39103c;
  --secondary-color: #a18dbe;
  --inverted-primary-color: #f6eff3;
  --inverted-secondary-color: #fff;

  // skeleton
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);

  // code
  --code-bg: #fff;
}
